.header {
	background-image: url('./assets/tenis.png');
	background-repeat: no-repeat;
	background-size: cover;
	color: $white-color;
	min-height: 640px;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	position: relative;
}

.header__title {
	font-size: 3em;
	font-weight: bold;
	text-transform: uppercase;
}

.header__text {
	width: 340px;
	margin: 1em auto;
}

.header__btn--primary {
  @include boton;
  
  background-color: $primary-color;
  color: $white-color;
text-transform: uppercase;
  
  &:hover {
    background-color: darken($primary-color, 15%)
  }
}