@font-face {
	font-family: 'Apercu';
	src: url("fonts/Apercu.ttf") format('truetype')
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Apercu';
}

a {
  align-items: flex-start;
  color: inherit;
  text-decoration: none;
}

button {
  background-color: transparent;
  border: none;
  color: black;
}

img {
  vertical-align: top;
}

li {
	list-style: none;
}